{% for advert in adverts %}
    <img class="img-responsive" alt="Ad image"
              src="{{ asset('uploads/advert_img/' ~ advert.image) }}" width="250px" height="125px"/>
    <a href="{{ path('advert_show', {'id':advert.id}) }}">{{advert.title}}</a>
    {% endfor %}
