{% extends "::base.html.twig" %}

{% block title %}ABAdBoardBundle:Main:showMain{% endblock %}

{% block body %}
    <h1>Welcome to the Main:showMain page<br><br>
        -kategorie + lista 10 ostatnich ogłoszeń
    </h1>
{% endblock %}
